<html>
    <head>
        <title>Delete ?</title>
    </head>
    <body>
        <fieldset>
            <legend>Delete</legend>
            <h1>Profile</h1>
           <table>
                <tr>
                    <td>Name:</td>
                    <td><%=name%></td>    
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><%=phone%></td>    
                </tr>
                <tr>
                    <td>Adress:</td>
                    <td><%=adress%></td>    
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td><%=gender%></td>    
                </tr>
                <tr>
                    <td>Designation:</td>
                    <td><%=designation%></td>    
                </tr>
                <tr>
                    <td>are you sure you want to delete ? </td>
                </tr>
                <tr>
                    <td><input type="submit" name="delete" value="yes"></td>
                    <td><input type="submit" name="delete" value="no"></td>
                </tr>
            </table>
        </fieldset>
    </body>
</html>